:root {
    --lightgray: #D9D9D9;
    --gray: #9c9c9c;
    --orange: #f48915;
    --darkGrey: #464D53;
    --caloryCard: #656565;
    --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
    --appColor:  #3c3f45;
  }

  .plan-container{
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
  }

  .plan-heading{
    font-size: 3rem;
    display: flex;
    gap: 5rem;
    font-weight: bold;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
  }

  .plan-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .plan {
    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
  }

  .plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);
  }

  .plan>svg{
    fill: var(--orange);
    width: 2rem;
    height: 2rem;
  }

  .plan>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
  }

  .plan>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
  }

  .plan>:nth-child(5){
    font-weight: bold;
  }

    .join-now{
    display: flex;
    gap: 0.2rem;
   
    align-items: center;
   
  }

  .join-now>img{
    width: 1rem;
  }

  .plan-features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .feature{
    display: flex;
    align-items: center;
   gap: 1rem;
    
  }

  .feature>img{
    width: 1rem;
    height: 1rem;
  }

  .plan-section>:nth-child(2)>svg{
        fill: white;
  }

  .plan-section>:nth-child(2)>button{
     color: orange;
}

.plan-blur-1{
  width: 32rem;
  height: 23rem;
  top: 6rem;
  left: 0rem;
}

.plan-blur-2{
  width: 32rem;
  height: 23rem;
  top: 6rem;
  right: 0rem;
}